.login{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(to bottom,
    rgba(0,0,0,0)0%,
    rgba(0,0,0,1)100%
    ),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/61e79073-50cf-4f7b-9a23-73290e6f7dca/d0322828-6d63-4f5f-92fb-30f492e7cca4/IN-en-20230410-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    background-size:cover ;
    position: relative;
.top{

    .wrapper{
        padding: 20px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            height: 40px;
        }
        .loginButton{
            background-color: red;
            border: none;
            color: white;
            border-radius: 5px;
            padding: 5px 15px;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
        }
    }
     
      
    
    
  }
  .container{
    width: 100%;
    height: 100%;   
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center ;
    color: white;
   
    form{
        width: 360px;
        height: 360px;
        padding: 30px;
        border-radius: 5px;
        background-color: var(--main-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        input{
            height: 40px;
            border-radius: 5px;
            background-color: gray;
            color: white;
            padding-left: 10px;

            &::placeholder{
                color: lightgray;

            }
        }

        button{
            height: 40px;
            border-radius: 5px;
            background-color: red;
            color: white;
            border: none;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }

        span{
            color: lightgray;
            b{
                color: white;
            }
        }
    }
   
  }
}
